
database/migrations/2021_02_15_111232_create_enlistment_batch_table.php
database/migrations/2021_02_15_111848_update_enlisment__table.php
database/migrations/2021_02_17_102957_add_status_to_enlistment_batch.php
database/migrations/2021_02_17_105329_create_table_enlistment_subjects.php
database/migrations/2021_05_18_112957_create_table_campus_list.php
database/migrations/2021_05_18_113340_add_campus_id_to_applicant_stud_info.php
database/migrations/2021_05_18_120350_create_school_list_table.php
database/migrations/2021_05_18_120754_add_school_id_to_applicant_stud_info.php
database/migrations/2021_05_18_120943_create_program_list.php
database/migrations/2021_05_18_121147_add_program_id_to_applicant_stud_info.php
database/migrations/2021_05_18_121645_add_school_id_to_student_id_form.php
database/migrations/2021_05_18_121820_add_program_id_to_student_id_form.php
database/migrations/migrations - 1st batch/2021_05_18_101410_link_applicant_stud_info_to_users.php
database/migrations/migrations - 1st batch/2021_05_18_102732_link_applicant_basic_info_to_users.php
database/migrations/migrations - 1st batch/2021_05_18_102755_link_applicant_address_info_to_users.php
database/migrations/migrations - 1st batch/2021_05_18_102825_link_applicant_family_info_to_users.php
database/migrations/migrations - 1st batch/2021_05_18_102839_link_applicant_scholastic_info_to_users.php
database/migrations/migrations - 1st batch/2021_05_18_102903_link_applicant_employment_info_to_users.php
database/migrations/migrations - 1st batch/2021_05_18_102919_link_applicant_cross_transferee_info_to_users.php
database/migrations/migrations - 1st batch/2021_05_18_102954_link_applicant_student_id_info_to_users.php
database/migrations/migrations - 1st batch/2021_05_18_103005_link_applicant_applicant_emergency_info_to_users.php
database/migrations/removed/2021_02_15_111232_create_enlistment_batch_table.php
database/migrations/removed/2021_02_15_111848_update_enlisment__table.php
database/migrations/removed/2021_02_17_102957_add_status_to_enlistment_batch.php
database/migrations/removed/2021_02_17_105329_create_table_enlistment_subjects.php
database/migrations/submitted/2021_05_17_140651_create_applicant_stud_infos_table.php
database/migrations/submitted/2021_05_17_142301_create_applicant_basic_infos_table.php
database/migrations/submitted/2021_05_17_142359_create_applicant_address_infos_table.php
database/migrations/submitted/2021_05_17_142447_create_applicant_family_infos_table.php
database/migrations/submitted/2021_05_18_021000_create_applicant_scholastic_infos_table.php
database/migrations/submitted/2021_05_18_022019_create_applicant_employment_infos_table.php
database/migrations/submitted/2021_05_18_022241_create_applicant_cross_transferee_infos_table.php
database/migrations/submitted/2021_05_18_022532_create_student_id_forms_table.php
database/migrations/submitted/2021_05_18_022857_create_applicant_emergency_contacts_table.php
database/migrations/submitted/2021_05_18_101410_link_applicant_stud_info_to_users.php
database/migrations/submitted/2021_05_18_102732_link_applicant_basic_info_to_users.php
database/migrations/submitted/2021_05_18_102755_link_applicant_address_info_to_users.php
database/migrations/submitted/2021_05_18_102825_link_applicant_family_info_to_users.php
database/migrations/submitted/2021_05_18_102839_link_applicant_scholastic_info_to_users.php
database/migrations/submitted/2021_05_18_102903_link_applicant_employment_info_to_users.php
database/migrations/submitted/2021_05_18_102919_link_applicant_cross_transferee_info_to_users.php
database/migrations/submitted/2021_05_18_102954_link_applicant_student_id_info_to_users.php
database/migrations/submitted/2021_05_18_103005_link_applicant_applicant_emergency_info_to_users.php
database/migrations/2021_02_15_111232_create_enlistment_batch_table.php
database/migrations/2021_02_15_111848_update_enlisment__table.php
database/migrations/2021_02_17_102957_add_status_to_enlistment_batch.php
database/migrations/2021_02_17_105329_create_table_enlistment_subjects.php
